

.product{

}
.product__text{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.16;
    text-align: center;
    color: #FFA5BA;
    
    }
    
    .product__tittle{
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
    color: #D41443;
    }
    .product__cardsed{
       
    }
    
    .product__list{
        width: 280px;
        height: 485px;
        left: 20px;
        top: 839px;
        
        background: #FFB8CA;
        border-radius: 24px;
    }
    
    .product__list-tittle{
    
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    
    }
    .product__list-text{
    
        font-family: DM Sans;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 21;
        text-align: center;
        letter-spacing: 0.04em;
        
        color: #FFFFFF;
    }