
.product{
    
}
.product__text{
    font-family: Titan One;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.16;
    text-align: center;
    color: var( --secondary-title-color);
    padding-top: 121px;
    

    
    @media screen and (min-width: 768px) {
        font-size: 26px;
            line-height: 1.15;
            padding-top: 122px;

        }
        @media screen and (min-width: 1200px){
            font-size: 30px;
            line-height: 1.13;
            padding-top: 127px;

        }
    }
    
    .product__tittle{
    font-family: Titan One;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding-top: 15px;

    color:var(--accent-color);
    @media screen and (min-width: 768px) {
        font-size: 48px;
        line-height: 1.14;
        }
        @media screen and (min-width: 1200px){
            font-size: 58px;
            line-height: 1.13;
        }
    }


.product-overlay{
    position: relative;
    // overflow: hidden;
}
.overlay-text{
    position: absolute;
    bottom: 0;
    left: 0;

    font-family: Titan One;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    padding-bottom: 30px;
    color: var(--white-text-color);

    background-color: var(--grey-text-color);
    padding: 25px 25px 25px 25px;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 500ms linear;

}
.product-button.link-button:hover{
    transform: translateY(0%);
}
    .product-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    

    
    @media screen and (min-width: 768px) {
        flex-direction: row;
        padding-top: 150px;

    }
    @media screen and (min-width: 1200px){
    display: flex;
    justify-content: center;
    padding-top: 259px;
   
    }
        
}
    .product-item{
        // position: relative;
        width: 280px;
        height: 485px;
        background: var(--secondary-title-color);
        border-radius: 24px;
         margin-bottom: 16px;
         margin-top: 144px;

        @media screen and (min-width: 768px) {
            width: 220px;
            height: 485px;
            margin-bottom: 112px;
            margin-top: 0px;
            &:not(:last-child){
                margin-right: 20px;
            }
        }
        @media screen and (min-width: 1200px){
            width: 329px;
            height: 525px;
            margin-top: 0px;

            
            margin-bottom: 119px;
        flex-basis: calc(100%/3 - 30px);
        &:not(:last-child){
            margin-right: 30px;
        }
       }
}
    
    .product-item__tittle{
        font-family: Titan One;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    padding-bottom: 30px;
    color: var(--white-text-color);

    @media screen and (min-width: 768px) {
       
        font-size: 28px;
        line-height: 0.8; 

    }
    @media screen and (min-width: 1200px){
        padding-bottom: 32px;
        font-size: 30px;
        line-height: 1.13;
    }
        
    }
    .product-item__tittle::after{
        display: block;
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 50%;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: right, center, left;
   
    background-color: var(--bg-color);
   
        background-image: url(../images/sprite.svg/#icon-dots), 
        url(../images/sprite.svg/#icon-dots),
        url(../images/sprite.svg/#iicon-dots);
        background-size: contain;
    background-repeat: no-repeat;
    background-position: right, center, left;
      }
      
      .product-item::before{
       
        display: block;
        content: "";
        margin-left: auto;
        margin-right: auto;
        
        background-size: contain;
        background-repeat: no-repeat;
        background-position:  center; 
      }
        .product-item:nth-child(1)::before{
            margin-bottom: 22px;
            margin-top: -113px;
            width: 249px;
            height: 252px;
        background-image: url(../images/mobice.png);
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
           
          background-image: 
           url(../images/mobice2x-min.png);
        }
      
     
        @media screen and (min-width:768px){
            margin-bottom: 30px;

            margin-top: -104px;
            width: 220px;
            height: 233px;
        background-image: url(../images/tablice.png);
        }

        @media screen and (min-width:768px) and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
      background-image:url(../images/tablice2x-min.png);
  }

        @media screen and (min-width: 1200px){
            margin-bottom: 38px;
            margin-top: -210px;
            width: 335px;
            height: 335px;
            background-image: url(../images/compice.png);
            }
            @media screen and (min-width:1200px) and (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
          background-image:url(../images/compicecream2x-min.png);
      }
        
      }
      
      .product-item:nth-child(2)::before{
        margin-bottom: 22px;

        margin-top: -113px;
        width: 249px;
        height: 252px;
    background-image: url(../images/mobcoffe.png);

     @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
     
    background-image: 
     url(../images/mobcoffe2x-min.png);
  }
    
    @media screen and (min-width: 768px){
        margin-bottom: 30px;

        margin-top: -104px;
        width: 220px;
        height: 233px;
    background-image: url(../images/tablcoffe.png);
    }
    @media screen and (min-width:768px) and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
      background-image:url(../images/tablcoffe2x-min.png);
        }
    @media screen and (min-width: 1200px){
        margin-bottom: 38px;

        margin-top: -210px;
        width: 335px;
        height: 335px;
        background-image: url(../images/compcoffe.png);
        }
        @media screen and (min-width:1200px) and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
      background-image:url(../images/compcoffe2x-min.png);
        }
  }
  .product-item:nth-child(3)::before{
    margin-bottom: 22px;

    margin-top: -113px;
    width: 249px;
    height: 252px;

background-image: url(../images/mobshake.png);
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
   
  background-image: 
   url(../images/mobshake2x-min.png);
}


@media screen and (min-width: 768px){
    margin-bottom: 30px;

    margin-top: -104px;
    width: 220px;
    height: 233px;
background-image: url(../images/tablshaks.png);
}
@media screen and (min-width:768px) and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
background-image:url(../images/tablshaks2x-min.png);
}

@media screen and (min-width: 1200px){
    margin-top: -210px;
    margin-bottom: 38px;

    width: 335px;
    height: 335px;
    background-image: url(../images/compshakes.png);
    }
    
    @media screen and (min-width:1200px) and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
  background-image:url(../images/compmilc2x-min.png);
}
  }

    .product-item__text{
        font-family: DM Sans;
      
        font-weight: 700;
        font-size: 14px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.04em;
        max-width: 200px;

            margin-bottom: 30px;
            margin-left: 41px;
            margin-right: 41px;
        
        color: var(--white-text-color);

        @media screen and (min-width: 768px) {
            font-size: 14px;
            line-height: 1.76; 
            max-width: 198px;

            margin-bottom: 40px;
            margin-left: 11px;
            margin-right: 11px;
    
        }
        @media screen and (min-width: 1200px){
            font-size: 16px;
            max-width: 241px;

            margin-bottom: 62px;
            margin-left: 44px;
            margin-right: 44px;
        }
    }

    .product-button{
        display: flex;
        justify-content: center;
        align-items: center;

    }