:root {
  --white-text-color: #ffffff;
  --back-text-color: #000000;
  --grey-text-color: #907e82;
  --secondary-title-color: #ffa5ba;
  --bg-color: #ffffff;
  --secondaru-bg-color: #fff5f6;
  --accent-color: #d41443;
}

.bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10px;
  background-color: darkcyan;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  margin: 0;
  font-family: DM Sans;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  margin: 0;
  padding: 0;
  border: none;
}

.link {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  outline: 1px solid red;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 115px;
    padding-right: 115px;
  }
}

.link-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  border-radius: 20px;
  background-color: var(--bg-color);
  color: var(--accent-color);
}

.link-button--icon {
  width: 40px;
}

.link-button--text {
  width: 138px;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 128;
}

.link-button__icon {
  width: 10px;
  height: 10px;
  fill: currentColor;
}

.main-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 159px;
  height: 44px;
  border-radius: 22px;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  background-color: var(--bg-color);
  color: var(--accent-color);
}

.main-button__icon {
  margin-left: 13px;
  width: 6px;
  height: 10px;
  fill: currentColor;
}

.gallery {
  margin-top: 97px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff5f6), color-stop(40%, #fff5f6), color-stop(40%, #ffffff), to(#ffffff));
  background-image: linear-gradient(to bottom, #fff5f6 0%, #fff5f6 40%, #ffffff 40%, #ffffff 100%);
}

.gallery__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.gallery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

.gallery__item {
  margin: 0 2px 2px 0;
}

@media screen and (min-width: 768px) {
  .gallery__item {
    margin: 0 4px 4px 0;
  }
}

@media screen and (min-width: 1280px) {
  .gallery__item {
    margin: 0 6px 6px 0;
  }
}

.gallery__picture {
  max-width: 100%;
  max-height: 100%;
}

.gallery__radius {
  border-radius: 7px;
}

.list-down {
  margin-top: 20px;
}

.list-up {
  margin-bottom: 20px;
}
/*# sourceMappingURL=main.css.map */