@import './utils/variables';
@import './utils/reset';
@import './utils/hiden';
@import './components/container';
@import './components/link-button';
@import './components/main-button';
<<<<<<< Updated upstream
=======
@import './layouts/header';
@import './layouts/hero';
>>>>>>> Stashed changes
