:root {
  --white-text-color: #ffffff;
  --back-text-color: #000000;
  --grey-text-color: #907e82;
  --secondary-title-color: #ffa5ba;
  --bg-color: #ffffff;
  --secondaru-bg-color: #fff5f6;
  --accent-color: #d41443;
}

.bg {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  background-color: darkcyan;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  margin: 0;
  font-family: DM Sans;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  margin: 0;
  padding: 0;
  border: none;
}

.link {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  outline: 1px solid red;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 115px;
    padding-right: 115px;
  }
}

.link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 20px;
  background-color: var(--bg-color);
  color: var(--accent-color);
}

.link-button--icon {
  width: 40px;
}

.link-button--text {
  width: 138px;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 128;
}

.link-button__icon {
  width: 10px;
  height: 10px;
  fill: currentColor;
}

.main-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 159px;
  height: 44px;
  border-radius: 22px;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  background-color: var(--bg-color);
  color: var(--accent-color);
}

.main-button__icon {
  margin-left: 13px;
  width: 6px;
  height: 10px;
  fill: currentColor;
}

.advantages {
  background-color: var(--secondaru-bg-color);
}

.advantages-list {
  padding-top: 20px;
  padding-bottom: 45px;
}

@media (min-width: 787px) {
  .advantages-list {
    padding-top: 33px;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .advantages-list {
    padding-top: 20px;
  }
}

@media (max-width: 787px) {
  .advantages-list__item:not(:last-child) {
    margin-bottom: 38px;
  }
}

@media (min-width: 768px) {
  .advantages-list__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

@media (min-width: 1200px) {
  .advantages-list__item {
    flex-basis: calc((100% - 30px) / 3);
  }
}

.advantages-list__title {
  font-family: 'Titan One', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.13;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-top: 16px;
  margin-bottom: 18px;
}

.advantages-list__description {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.7;
  color: #000000;
}

@media (min-width: 786px) {
  .advantages-list__description {
    font-size: 14px;
    line-height: 1.74;
  }
}

@media (min-width: 1200px) {
  .advantages-list__description {
    font-size: 16px;
    line-height: 1.76;
  }
}
/*# sourceMappingURL=main.css.map */