@mixin text(
  $justify-content: flex-start,
  $line-height: 1.83,
  $font-size: 12px,
  $letter-spacing: 0.04em
) {
  align-items: center;
  justify-content: $justify-content;
  font-family: DM Sans;
  font-weight: 500;
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}
