:root {
  --white-text-color: #ffffff;
  --black-text-color: #000000;
  --grey-text-color: #907e82;

  --secondary-title-color: #ffa5ba;

  --bg-color: #ffffff;
  --secondary-bg-color: #fff5f6;

  --accent-color: #d41443;
}

.bg {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  background-color: darkcyan;
}
