<section class="about">
    <div class="container">
        <p class="about__pre-title">tradition and love</p>
        <h2 class="about__title">how it’s made?</h2>

        <div class="about__content">
            <picture class="about__picture">
                <source srcset="./images/about/about_cow-and-milk-desk-min@1x.png 1x,
                            ./images/about/about_cow-and-milk-desk-min@2x.png 2x"
                            media="(min-width:1280px)" />
                <source srcset="./images/about/about_cow-and-milk-tab-min@1x.png 1x,
                            ./images/about/about_cow-and-milk-tab-min@2x.png 2x" 
                            media="(min-width:768px)" />
                <source srcset="./images/about/about_cow-and-milk-mob-min@1x.png 1x,
                            ./images/about/about_cow-and-milk-mob-min@2x.png 2x" 
                            media="(min-width:480px)" />
                <img srcset="./images/about/about_cow-and-milk-mob-min@1x.png"
                    src="./images/about/about_cow-and-milk-mob-min@1x.png" alt="about_cow-and-milk" />
            </picture>

            <div class="about__text">
                <p class="about__main-text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
                    cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
                <p class="about__secondary-text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
                    Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a
                    feugiat urna maximus. Cras massa nibh, tincidunt. <br><br> Aliquam erat volutpat. Aenean accumsan.
                </p>

                <button class="main-button" data-about-modal-open>Read more
                    <svg class="main-button__icon" width="10" height="14">
                        <use href="./images/sprite.svg#icon-bracket"></use>

                    </svg>
                </button>
            </div>

        </div>

    </div>

</section>