<section class="advantages">
    <div class="container">
        <ul class="advantages-list list">

            <li class="advantages-list__item" data-aos="fade-down" data-aos-once="true">
                <div class="advantages-list__img">
                    <picture>
                        <source
                            srcset="./images/advantages/advantages-img-1desk@1x.png 1x, ./images/advantages/advantages-img-1desk@2x.png 2x"
                            width="33" height="50" media="(min-width:1200px)" />
                        <source
                            srcset="./images/advantages/advantages-img-1tab@1x.png 1x, ./images/advantages/advantages-img-1tab@2x.png 2x"
                            media="(min-width:768px)" />
                        <source
                            srcset="./images/advantages/advantages-img-1mob@2x.png 1x, ./images/advantages/advantages-img-1mob@2x.png 2x"
                            media="(min-width:320px)" />
                        <img srcset="./images/advantages/advantages-img-1mob@1x.png 450w"
                            src="./images/advantages/advantages-img-1mob@1x.png"  alt="sweets">
                    </picture>
                </div>
                <h3 class="advantages-list__title">721</h3>
                <p class="advantages-list__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>

            <li class="advantages-list__item" data-aos="fade-down" data-aos-once="true">
                <div class="advantages-list__img">
                    <picture>
                        <source
                            srcset="./images/advantages/advantages-img-2desk@1x.png 1x, ./images/advantages/advantages-img-2desk@2x.png 2x"
                            width="50" height="50" media="(min-width:1200px)" />
                        <source
                            srcset="./images/advantages/advantages-img-2tab@1x.png 1x, ./images/advantages/advantages-img-2tab@2x.png 2x"
                            media="(min-width:768px)" />
                        <source
                            srcset="./images/advantages/advantages-img-2mob@2x.png 1x, ./images/advantages/advantages-img-2mob@2x.png 2x"
                            media="(min-width:320px)" />
                        <img srcset="./images/advantages/advantages-img-2mob@1x.png 450w"
                            src="./images/advantages/advantages-img-2mob@1x.png" alt="sweets">
                    </picture>
                </div>
                <h3 class="advantages-list__title">16kg</h3>
                <p class="advantages-list__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>

            <li class="advantages-list__item" data-aos="fade-down" data-aos-once="true">
                <div class="advantages-list__img">
                    <picture>
                        <source
                            srcset="./images/advantages/advantages-img-3desk@1x.png 1x, ./images/advantages/advantages-img-3desk@2x.png 2x"
                            width="44" height="50" media="(min-width:1200px)" />
                        <source
                            srcset="./images/advantages/advantages-img-3tab@1x.png 1x, ./images/advantages/advantages-img-3tab@2x.png 2x"
                            media="(min-width:768px)" />
                        <source
                            srcset="./images/advantages/advantages-img-3mob@2x.png 1x, ./images/advantages/advantages-img-3mob@2x.png 2x"
                            media="(min-width:320px)" />
                        <img srcset="./images/advantages/advantages-img-3mob@1x.png 450w"
                            src="./images/advantages/advantages-img-3mob@1x.png" alt="sweets">
                    </picture>
                </div>
                <h3 class="advantages-list__title">84</h3>
                <p class="advantages-list__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>

            </li>
        </ul>
    </div>
</section>