<section class="contacts">
    <div class="contacts-set container">
        <h2 class="visually-hidden"></h2>
        <ul class="contacts-cart list">
            <li class="contacts-cart__header link current">
                <a class="contacts-cart__category">CAFE</a>
                <h3 class="contacts-cart__title">Chicago</h3>
                <p class="contacts-cart__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>
            <li class="contacts-cart__timing link  current">
                <p class="contacts-cart__days">Monday - Friday</p>
                <p class="contacts-cart__time">06:00 AM - 10:00 PM</p>
                <p class="contacts-cart__days">Saturday - Sunday</p>
                <p class="contacts-cart__time">08:00 AM - 16:00 PM</p>
            </li>
            <li class="contacts-cart__Locations link">
                <a class="contacts-cart__tel" href="tel:+61(0) 383 766 284 ">+61(0) 383 766 284</a>
                <a class="contacts-cart__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
        </ul>
        <ul class="contacts-cart list">
            <li class="contacts-cart__header link current">
                <a class="contacts-cart__category contacts-cart__category--color">FOODTRUCK</a>
                <h3 class="contacts-cart__title">Los Angeles</h3>
                <p class="contacts-cart__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>
            <li class="contacts-cart__timing link  current">
                <p class="contacts-cart__days">Monday - Friday</p>
                <p class="contacts-cart__time">06:00 AM - 10:00 PM</p>
                <p class="contacts-cart__days">Saturday - Sunday</p>
                <p class="contacts-cart__time">08:00 AM - 16:00 PM</p>
            </li>
            <li class="contacts-cart__Locations link">
                <a class="contacts-cart__tel" href="tel:+61(0) 383 766 284 ">+61(0) 383 766 284</a>
                <a class="contacts-cart__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
        </ul>
        <ul class="contacts-cart contacts-set__contacts-cart  list">
            <li class="contacts-cart__header link current">
                <a class="contacts-cart__category">CAFE</a>
                <h3 class="contacts-cart__title">New York</h3>
                <p class="contacts-cart__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>
            <li class="contacts-cart__timing link  current">
                <p class="contacts-cart__days">Monday - Friday</p>
                <p class="contacts-cart__time">06:00 AM - 10:00 PM</p>
                <p class="contacts-cart__days">Saturday - Sunday</p>
                <p class="contacts-cart__time">08:00 AM - 16:00 PM</p>
            </li>
            <li class="contacts-cart__Locations link">
                <a class="contacts-cart__tel" href="tel:+61(0) 383 766 284 ">+61(0) 383 766 284</a>
                <a class="contacts-cart__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
        </ul>
        <button class="main-button main-button--color" type="button" data-modal-open>Our Locations
            <svg class="main-button__icon">
                <use href="./images/sprite.svg#icon-bracket"></use>
            </svg>
        </button>
        <button class="main-button contacts-set__main-button" type="button" data-modal-open>Franchise
            <svg class="main-button__icon">
                <use href="./images/sprite.svg#icon-bracket"></use>
            </svg>
        </button>
    </div>
</section>