<section class="customer-review ">
    <div class="container container__customer-review  wrapper">
        <input type="radio" name="point" id="slide1" checked>
        <input type="radio" name="point" id="slide2">
        <input type="radio" name="point" id="slide3">
        <ul class="customer-review__list list slider" >
            <li class="customer-review__item  slides slide1">
                <article class="customer-review__wraper">
                    <img class="customer-review__img" src="./images/customer-reviews/testimonials-1.jpg" alt="">
                    <div class="customer-review__text-bg">
                        <p class="customer-review__text">1Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                            hendrerit nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.</p>
                    </div>
                    <h3 class="customer-review__title">Emily, Los Angeles</h3>
                </article>
            </li>
            <li class="customer-review__item  slides slide2">
                <article class="customer-review__wraper">
                    <img class="customer-review__img" src="./images/customer-reviews/testimonials-1.jpg" alt="">
                    <div class="customer-review__text-bg">
                        <p class="customer-review__text"> 2Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                            sem. In
                            hendrerit nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.</p>
                    </div>
                    <h3 class="customer-review__title">Emily, Los Angeles</h3>
                </article>
            </li>
            <li class="customer-review__item  slides slide3">
                <article class="customer-review__wraper">
                    <img class="customer-review__img" src="./images/customer-reviews/testimonials-1.jpg" alt="">
                    <div class="customer-review__text-bg">
                        <p class="customer-review__text">3Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                            sem. In
                            hendrerit nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.</p>
                    </div>
                    <h3 class="customer-review__title">Emily, Los Angeles</h3>
                </article>
            </li>
            
        </ul>
     <div class="controls">
        <label for="slide1"></label>
        <label for="slide2"></label>
        <label for="slide3"></label>    
    </div>
      
   
    </div>
    

</section>