<section class="customer-review ">
    <div class="container container__customer-review">
        <ul class="customer-review__list list" >
            <li class="customer-review__item ">
                <article class="customer-review__wraper">
                    <img class="customer-review__img" src="./images/customer-reviews/testimonials-1.jpg" alt="">
                    <div class="customer-review__text-bg">
                        <p class="customer-review__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                            hendrerit nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.</p>
                    </div>
                    <h3 class="customer-review__title">Emily, Los Angeles</h3>
                </article>
            </li>
            
        </ul>
        <div class="lol">

        </div>
   
    </div>
    

</section>