<section>
    <div class="container">
        <div class="swiper-container">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper__slide">
                    <div class="reviews__item">
                        <img src="../images/reviews/testimonials1.jpg" alt="reviews1" class="reviews__img" />
                        <div class="reviews__container-text">
                            <div class="reviews__text-line">
                                <p class="reviews__text">
                                    "A programmer’s wife asks him, 'Would you go to the shop and pick up a loaf of bread? And if they have eggs, get a
                                    dozen.' The programmer goes to the store and returns home with 12 loaves of bread. 'They had eggs,' he explained."
                                </p>
                            </div>
                        </div>
                        <svg class="reviews__icon-points" width="32" height="4">
                            <use href="/images/sprite.svg#"></use>
                        </svg>

                        <b class="reviews__name">Emily, Los Angeles</b>
                    </div>
                </div>
                <div class="swiper__slide">
                    <div class="reviews__item">
                        <img src="./images/reviews/testimonials2.jpg" alt="reviews1" class="reviews__img" />
                        <div class="reviews__container-text">
                            <div class="reviews__text-line">
                                <p class="reviews__text">
                                    "When I wrote this code, only me and God knew how it works. Now only God knows..."
                                </p>
                            </div>
                        </div>
                        <svg class="reviews__icon-points" width="32" height="4">
                            <use href="/images/sprite.svg#"></use>
                        </svg>

                        <b class="reviews__name">Natali, Kiev</b>
                    </div>
                </div>
                <div class="swiper__slide">
                    <div class="reviews__item">
                        <img src="./images/reviews/testimonials3.jpg" alt="reviews1" class="reviews__img" />
                        <div class="reviews__container-text">
                            <div class="reviews__text-line">
                                <p class="reviews__text">
                                    If doctors were like software engineers, they would say things like “Have you tried killing yourself and being reborn?”
                                </p>
                            </div>
                        </div>
                        <svg class="reviews__icon-points" width="32" height="4">
                            <use href="/images/sprite.svg#"></use>
                        </svg>

                        <b class="reviews__name">Marta, London</b>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    </div>
</section>