<footer class="footer">

    <div class="container footer__container">
        <div class="footer__wrap">
            <p class="footer__tagline">
                <span class="footer__text footer__text--pink" data-aos="fade-right" data-aos-once="true">homemade ice cream made</span>
                <span class="footer__text footer__text--crimson" data-aos="fade-right" data-aos-once="true">with passion</span>
            </p>


                <div class="footer__contacts">


                <ul class="footer__social-list list" data-aos="zoom-in" data-aos-once="true">
                    <li class="footer__social-item">
                        <a class="footer__social-link link" href="https://github.com/" target="blank">
                            <svg class="footer__social-icon" width="20" height="20">
                                <use href="./images/sprite.svg#icon-github"></use>
                            </svg>
                        </a>
                    </li>


                        <li class="footer__social-item">
                            <a class="footer__social-link link" href="https://web.telegram.org/z/" target="blank">
                                <svg class="footer__social-icon" width="20" height="20">
                                    <use href="./images/sprite.svg#icon-telegram"></use>
                                </svg>
                            </a>
                        </li>

                        <li class="footer__social-item">
                            <a class="footer__social-link link"
                                href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwjNgI2ssrjzAhUDssgKHdkmC-wYABAAGgJxdQ&ae=2&ei=c_ReYdg1rI_Fzw-90bGoDQ&ohost=www.google.com&cid=CAESQOD2c0WsFyKVALuxzSZJZMxfdAcUxezRS8KvbgtclUO0gKAy9AxOe1D4f72soARZpEg2e1ZiW2BGHxy8023cTrs&sig=AOD64_1EXLlfx3hK7Urfxb0tIG3kfHvZwQ&q&nis=1&sqi=2&adurl&ved=2ahUKEwiYu_-rsrjzAhWsR_EDHb1oDNUQ0Qx6BAgCEAE"
                                target="blank">
                                <svg class="footer__social-icon" width="20" height="20">
                                    <use href="./images/sprite.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>

                <p class="footer__tel-number" data-aos="fade-left" data-aos-once="true">
                    Feel free to contact
                    <a class="footer__tel-link link" href="tel:+610383766284">+61 (0) 383 766 284</a>
                </p>
            </section>

        </div>
    </div>

    <p class="footer__copyright">
        <span class="footer__copyright-text">&copy; 2019 - IceCream. All Rights Reserved.</span>
    </p>
</footer>