<header class="header">
  <div class="container header-container">
    <a class="logo" href="./index.html">
      <img srcset="./images/header/logo@1x.png 1x, ./images/header/logo@2x.png 2x" src="./images/header/logo@1x.png"
        alt="company logo"></a>
    <nav class="navigation">
      <ul class="navigation__list list">
        <li class="navigation__item"><a class="navigation__link link active" href="./index.html">Home</a>
        </li>
        <li class="navigation__item"><a class="navigation__link link" href="#part1">About us</a></li>
        <li class="navigation__item"><a class="navigation__link link" href="#part2">How it’s made?</a>
        </li>
        <li class="navigation__item"><a class="navigation__link link" href="#part3">Our products</a>
        </li>
        <li class="navigation__item"><a class="navigation__link link" href="#part4">Contact</a></li>
      </ul>
    </nav>
    <div class="header-buttons">
      <button type="button" class="button-menu" data-menu-open>
        <svg class="" width="20" height="12">
          <use href="./images/sprite.svg#icon-Burger"></use>
        </svg>
      </button>
      <button type="button" class="main-button main-button--hidden" data-modal-open>Buy now<svg
          class="main-button__icon">
          <use href="./images/sprite.svg#icon-bracket"></use>
        </svg>
      </button>
    </div>
  </div>
</header>