<hero class="">
  <div class="hero-div container">
    <div class="hero-left">
      <div class="hero-main">
        <h1 class="hero-main__title">ice cream made with <span class="hero-main__title--accent">passion</span></h1>
        <ul class="hero-main__list list">
          <li class="hero-main__item"><a class="link link-button link-button--text link-button--accent"
              href="#part3">Products</a></li>
          <li class="hero-main__item"><a class="link link-button link-button--text" href="#part2">How it’s made?</a>
          </li>
        </ul>
      </div>
      <div class="hero-secondary">
        <p class="hero-secondary__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et</p>
        <a class="link-button--iconheader link-button link" href="">
          <svg class="link-button__iconheader">
            <use href="./images/sprite.svg#icon-arrow_right"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="hero-right">
      <div class="hero-third">
        <ul class="hero-third__list list">
          <li class="hero-third__item">
            <span class="hero-third__item--number">16</span>
            <p class="hero-third__item--text">cafes</p>
          </li>
          <li class="hero-third__item">
            <span class="hero-third__item--number">23</span>
            <p class="hero-third__item--text">food trucks</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</hero>