<div class="backdrop is-hidden" data-modal>
    <div class="modal-window">
        <button class="modal-window__close-btn" type="button" data-modal-close>
            <svg class="modal-window__close-icon" width="11" height="11">
                <use href="./images/sprite.svg#icon-icon-close"></use>
            </svg>
        </button>
        <form class="form">
            <b class="form__title">Оставьте свои данные, мы вам перезвоним</b>
            <div class="form__group">
                <div class="form__folder--form">
                    <label for="name" class="form__lable">Имя</label>
                    <span class="form__input-wrap">
                        <input type="text" name="name-form" id="name" class="form__input">
                        <svg class="form__icon" width="12" height="12">
                            <use href="./images/sprite.svg#icon-name"></use>
                        </svg>
                    </span>
                </div>
                <div class="form__folder--form">
                    <label for="tel" class="form__lable">Телефон</label>
                    <span class="form__input-wrap">
                        <input type="text" name="tel-form" id="tel" class="form__input">
                        <svg class="form__icon" width="13" height="13">
                            <use href="./images/sprite.svg#icon-tel"></use>
                        </svg>
                    </span>
                </div>
                <div class="form__folder--form">
                    <label for="mail" class="form__lable">Почта</label>
                    <span class="form__input-wrap">
                        <input type="email" name="mail-form" id="mail" class="form__input">
                        <svg class="form__icon" width="15" height="12">
                            <use href="./images/sprite.svg#icon-mail"></use>
                        </svg>
                    </span>
                </div>
                <div class="form__folder">
                    <label for="comment" class="form__lable">Коментарий</label>
                    <span class="form__commet-wrap">
                        <textarea name="comment-form" id="comment" placeholder="Введите текст"
                            class="form__modal-comment"></textarea>
                    </span>
                </div>
                <div class="form__folder">
                    <input type="checkbox" name="context-form" id="check"
                        class="form__checkbox visually-hidden">
                    <label for="check" class="form__check-label">
                        <span class="form__check">
                            <svg class="form__check-icon" width="11" height="8">
                                <use href="./images/sprite.svg#icon-context"></use>
                            </svg>
                        </span>Соглашаюсь с рассылкой</a>
                    </label>
                </div>
            </div>
            <button class="main-button main-button__modal" type="button" data-modal-open>Отправить</button>
        </form>
    </div>
</div>