<section class="container product">
        
    <p class="product__text">100% natural</p>
    <h1 class="product__tittle">products</h1>
    

<ul class="product__cardsed">

<li class="product__list">
    <h2 class="product__list-tittle">ice cream</h2>
    <p class="product__list-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
    <button class="product__list-button"></button>
</li>

<li class="product__list">
<h2 class="product__list-tittle">ice coffee</h2>
<p class="product__list-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
</p>
<button class="product__list-button"></button>
</li>

<li class="product__list">
<h2 class="product__list-tittle">milkshakes</h2>
<p class="product__list-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
</p>
<button class="product__list-button"></button>
</li>
</ul>

</section>