<section class="product">
    <div class="container">
        
    <p class="product__text">100% natural</p>
    <h1 class="product__tittle">products</h1>
    

<ul class="product-list list">

<li class="product-item">
    <h2 class="product-item__tittle">ice cream</h2>
   
    <p class="product-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>

<div class="product-overlay">
    <div class="product-button">
    <a href="" class="link-button link-button--icon">
        <svg class="link-button__icon">
            <use href="./images/sprite.svg#icon-arrow_right"></use>
        </svg>
    </a>
    <p class="overlay-text">Для изготовления мороженого применяется: молоко коровье натуральное, пастеризованное, сгущённое цельное с сахаром; сгущённые и сухие сливки; масло коровье; яйца куриные; пахта (обезжиренные сливки) и сыворотка; ягоды, фрукты, кофе, какао-продукты и др.</p>
</div>
</div>
</li>

<li class="product-item">
<h2 class="product-item__tittle">ice coffee</h2>
<p class="product-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
</p>
<div class="product-button">
<a href="" class="link-button link-button--icon link">
    <svg class="link-button__icon">
        <use href="./images/sprite.svg#icon-arrow_right"></use>
    </svg>
</a>
</div>
</li>

<li class="product-item">
<h2 class="product-item__tittle">milkshakes</h2>
<p class="product-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
</p>
<div class="product-button">
<a href="" class="link-button link-button--icon link">
    <svg class="link-button__icon">
        <use href="./images/sprite.svg#icon-arrow_right"></use>
    </svg>
</a>
</div>
</li>
</ul>
</div>
</section>