<div class="bg container">
    <a href="" class="link-button link-button--icon link">
        <svg class="link-button__icon">
            <use href="./images/sprite.svg#icon-arrow_right"></use>
        </svg>
    </a>
    <a href="" class="link-button link-button--text link">
        How it’s made?
    </a>

    <button type="button" class="main-button">
        Buy now
        <svg class="main-button__icon">
            <use href="./images/sprite.svg#icon-bracket"></use>
        </svg>    
    </button>
</div>