<div class="slider">


    <div class="item">

        <div class="slideText">When I wrote this code, only me and God knew how it works. Now only God knows.</div>
    </div>

    <div class="item">

        <div class="slideText">Заголовок слайда 2</div>
    </div>

    <div class="item">

        <div class="slideText">Заголовок слайда 3</div>
    </div>

    <a class="prev" onclick="minusSlide()">&#10094;</a>
    <a class="next" onclick="plusSlide()">&#10095;</a>
</div>

<div class="slider-dots">
    <span class="slider-dots_item" onclick="currentSlide(1)"></span>
    <span class="slider-dots_item" onclick="currentSlide(2)"></span>
    <span class="slider-dots_item" onclick="currentSlide(3)"></span>
</div>