.main-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 159px;
  height: 44px;
  border-radius: 22px;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  background-color: var(--bg-color);
  color: var(--accent-color);

  &:focus,
  &:hover {
    background-color: var(--secondaru-bg-color);
  }
}

.main-button__icon {
  margin-left: 13px;
  width: 6px;
  height: 10px;
  fill: currentColor;
}

.header-button {
  display: none;
  @media screen and (min-width: 768px) {
    display: inline-block;
  }
}

.header-button__menu {
  background-color: transparent;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 30px;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
