.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transform: scale(1);

  transition: opacity transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &.is-hidden {
    opacity: 0;
    transform: scale(0);
    pointer-events: none;
    visibility: visible;
  }
}

.modal-window {
  position: absolute;
  width: 320px;
  min-height: 420px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and (min-width: 480px) {
    min-width: 300px;
    min-height: 420px;
  }
}
.modal-window__close-btn {
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  position: absolute;
  top: 8px;
  right: 8px;

  background: var(--bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-window__close-icon {
  display: flex;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal-window__close-btn:hover &,
  .modal-window__close-btn:focus & {
    fill: var(--accent-color);
    cursor: pointer;
  }
}

.form__title {
  display: flex;
  text-align: center;
  @include text($justify-content: center, $font-size: 18px);
  padding-top: 40px;
  margin-bottom: 12px;
  margin-left: 10px;
  margin-right: 10px;

  color: #212121;
}
.form__group {
  display: block;
  width: 260px;
  min-height: 342px;
  margin: auto;
  @media screen and (min-width: 480px) {
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

.form__folder--form {
  margin-bottom: 10px;
}
.form__folder {
  @media screen and(min-width:480px) {
    width: 260px;
    margin-right: 0;
  }
}
.form__lable {
  display: block;
  @include text();
  margin-bottom: 4px;

  color: #757575;
}
.form__input-wrap {
  display: block;
  position: relative;
  @media screen and(min-width:480px) {
    width: 260px;
  }
}
.form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 30px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    box-sizing: border-box;
    border-radius: 4px;
    outline: var(--accent-color);
    cursor: pointer;
  }
}

.form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
  .form__input:hover + &,
  .form__input:focus + & {
    fill: var(--accent-color);
    cursor: pointer;
  }
}

.form__commet-wrap {
  display: block;
  width: 260px;
  height: 120px;
  margin-bottom: 17px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    box-sizing: border-box;
    border-radius: 4px;
    outline: var(--accent-color);
    cursor: pointer;
  }
  @media screen and(min-width:480px) {
    width: 260px;
  }
}

.form__modal-comment {
  width: 240px;
  height: 100px;
  margin: 12px 16px;
  resize: none;
  border: none;
  outline: none;
  &::placeholder {
    @include text();

    color: rgba(117, 117, 117, 0.5);
  }
  @media screen and(min-width:480px) {
    width: 240px;
  }
}

.form__checkbox {
  &:checked + .form__check-label > .form__check {
    background: var(--accent-color);
    border: none;
  }
}
.form__check-label {
  display: inline-flex;
  margin-bottom: 20px;
  @include text($letter-spacing: 0.01em);

  color: #757575;
}
.form__check {
  width: 16px;
  height: 15px;
  border: 2px solid#212121;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__btn-modal {
  display: block;
  margin: 30px auto 40px auto;
  width: 200px;
  height: 50px;
}
.main-button__modal {
  margin: auto;
  margin-bottom: 20px;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  justify-content: center;
}
