.contacts__set {
  background-color: var(--secondaru-bg-color);
  padding: 86px 50px 20px 50px;
}
.contacts-cart {
  display: flex;
  flex-direction: column;
  min-width: 220px;
  padding: 43px 20px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 30px;
  border-color: #e1e1e1;
  background-color: var(--bg-color);
}
.contacts-cart--ident {
  display: flex;
  flex-direction: column;
  min-width: 220px;
  padding: 43px 20px;
  margin: auto;
  margin-bottom: 54px;
  border-radius: 30px;
  border-color: #e1e1e1;
  background-color: var(--bg-color);
}
.contacts-cart__header__category {
  display: flex;
  max-width: 80px;
  max-height: 16;
  margin-bottom: 25px;
  align-items: center;
  justify-content: center;

  font-family: DM Sans;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 1.83;
  text-align: center;
  letter-spacing: 0.04em;

  color: var(--white-text-color);
  border-radius: 4px;
  background-color: #f0d1a5;
}
.contacts-cart__header__category--color {
  display: flex;
  max-width: 130px;
  max-height: 16;
  margin-bottom: 25px;
  align-items: center;
  justify-content: center;

  font-family: DM Sans;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 1.83;
  text-align: center;
  letter-spacing: 0.04em;

  color: var(--white-text-color);
  border-radius: 4px;
  background-color: #c2e297;
}
.contacts-cart__header__title {
  margin-bottom: 10px;
  font-family: DM Sans;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: var(--back-text-color);
}
.contacts-cart__header__text {
  font-family: DM Sans;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-bottom: 25px;
  color: var(--grey-text-color);
}

.current {
  &::after {
    content: '';

    display: flex;
    min-width: 179px;
    min-height: 1px;
    background-color: #e1e1e1;
    border-radius: 0;
    margin-bottom: 25px;
  }
}
.contacts-cart__timing__days {
  font-family: DM Sans;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: var(--back-text-color);
}
.contacts-cart__timing__time {
  font-family: DM Sans;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: var(--secondary-title-color);
  margin-bottom: 25px;
}
.contacts-cart__timing__time--ident {
  margin-bottom: 25px;
}
.contacts-cart__Locations__tel {
  font-family: DM Sans;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: var(--grey-text-color);
}
.contacts-cart__Locations__mail {
  font-family: DM Sans;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: var(--grey-text-color);
}
.main-button--color {
  margin: auto;
  margin-bottom: 10px;
  color: var(--white-text-color);
  background-color: var(--accent-color);
}
.main-button--ident {
  margin: auto;
}
