.current {
  &::after {
    content: '';

    display: flex;
    min-width: 100%;
    min-height: 1px;
    background-color: #e1e1e1;
    border-radius: 0;
    margin-bottom: 25px;
  }
}
.contacts {
  background-image: linear-gradient(
    to bottom,
    var(--bg-color) 11%,
    var(--secondary-bg-color) 11%,
    var(--secondary-bg-color) 89%
  );

  @media screen and(min-width:768px) {
    background-image: linear-gradient(
      to bottom,
      var(--bg-color) 24%,
      var(--secondary-bg-color) 24%,
      var(--secondary-bg-color) 76%
    );
  }

  @media screen and(min-width:1200px) {
    background-image: linear-gradient(
      to bottom,
      var(--bg-color) 28%,
      var(--secondary-bg-color) 28%,
      var(--secondary-bg-color) 72%
    );
  }
}
.contacts-list {
  padding: 86px 30px 54px 30px;
  @media screen and(min-width:768px) {
    display: flex;
    padding-left: 0;
    padding-right: 0;
    padding-top: 119px;
    padding-bottom: 81px;
    margin: -10px;
  }

  @media screen and(min-width:1200px) {
    padding-top: 132px;
    padding-bottom: 86px;
    margin: -15px;
  }
}

.contacts-item {
  border-radius: 30px;
  border: 1px solid#E1E1E1;
  background-color: var(--bg-color);
  min-width: 220px;
  padding-top: 43px;
  padding-right: 20px;
  padding-bottom: 43px;
  padding-left: 20px;
  margin: 0 auto;
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media screen and(min-width: 480px) {
    width: 337px;
  }
  @media screen and(min-width:768px) {
    flex-basis: calc((100% - 60px) / 3);
    margin: 10px;
    padding-top: 50px;
    padding-right: 31px;
    padding-bottom: 50px;
    padding-left: 31px;
  }
  @media screen and(min-width:1200px) {
    padding-top: 51px;
    padding-right: 43px;
    padding-bottom: 62px;
    padding-left: 43px;
    margin: 15px;
  }
}

.contacts-item__category {
  display: flex;
  max-width: 80px;
  max-height: 16px;
  margin-bottom: 25px;
  @include text(center);

  @media screen and(min-width:768px) {
    @include text($font-size: 16px, $line-height: 1.875);
    max-width: 73px;
    max-height: 28px;
    justify-content: center;
  }

  color: var(--white-text-color);
  border-radius: 4px;
  background-color: #f0d1a5;
}
.contacts-item__category--color {
  max-width: 130px;
  max-height: 16px;
  background-color: #c2e297;
  @media screen and(min-width:768px) {
    @include text($font-size: 16px, $line-height: 1.875);
    max-width: 138px;
    max-height: 28px;
    justify-content: center;
  }
}
.contacts-item__title {
  margin-bottom: 10px;
  @include text();
  color: var(--back-text-color);
  @media screen and(min-width:768px) {
    @include text($font-size: 14px, $line-height: 1.857);
  }
  @media screen and(min-width:1200px) {
    @include text($font-size: 16px, $line-height: 1.875);
  }
}
.contacts-item__text {
  @include text($line-height: 1.5);
  margin-bottom: 25px;
  color: var(--grey-text-color);
  @media screen and(min-width:768px) {
    @include text($font-size: 14px, $line-height: 1.642);
  }
  @media screen and(min-width:1200px) {
    @include text($font-size: 16px, $line-height: 1.813);
  }
}

.contacts-timetable__day {
  @include text();
  color: var(--back-text-color);
  @media screen and(min-width:768px) {
    @include text($font-size: 14px, $line-height: 1.857);
  }
  @media screen and(min-width:1200px) {
    @include text($font-size: 16px, $line-height: 1.875);
  }
}
.contacts-timetable__time {
  @include text();
  color: var(--secondary-title-color);
  margin-bottom: 25px;
  @media screen and(min-width:768px) {
    @include text($font-size: 14px, $line-height: 1.857);
  }
  @media screen and(min-width:1200px) {
    @include text($font-size: 16px, $line-height: 1.875);
  }
}

.contacts-locations__tel {
  @include text($line-height: 1.5);
  text-decoration: none;
  color: var(--grey-text-color);
  @media screen and(min-width:768px) {
    @include text($font-size: 14px, $line-height: 1.642);
  }
  @media screen and(min-width:1200px) {
    @include text($font-size: 16px, $line-height: 1.813);
  }
}
.contacts-locations__mail {
  @include text($line-height: 1.5);
  text-decoration: none;
  color: var(--grey-text-color);
  @media screen and(min-width:768px) {
    @include text($font-size: 14px, $line-height: 1.642);
  }
  @media screen and(min-width:1200px) {
    @include text($font-size: 16px, $line-height: 1.813);
  }
}

.contacts-button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  @media screen and(min-width:768px) {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}
.main-button--red {
  margin: auto;
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    margin: 0;
    margin-right: 15px;
  }
  @media screen and (min-width: 768px) {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    margin-right: 15px;
  }
}
.contacts-set__main-button {
  margin: auto;
  @media screen and (min-width: 768px) {
    margin: 0;
  }
}
