.footer {
  padding-top: 113px;
  background-color: var(--secondary-bg-color);

  @media screen and (min-width: 768px) {
    padding-top: 158px;
  }

  &__wrap {
    width: 100%;
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__tagline,
  &__contacts {
    width: 100%;
  }

  &__tagline {
    @media screen and (max-width: 767px) {
      padding-bottom: 43px;
    }
  }

  &__text {
    display: block;
    width: 234px;
    text-align: left;
    font-family: Titan One;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      width: 350px;
    }

    @media screen and (min-width: 1200px) {
      width: 100%;
    }
  }
  &__text--pink {
    margin-bottom: 17px;
    font-size: 18px;
    line-height: 1.16;
    color: var(--secondary-title-color);

    @media screen and (min-width: 768px) {
      font-size: 26px;
      line-height: 1.15;
      letter-spacing: 0.04em;
    }

    @media screen and (min-width: 1200px) {
      font-size: 30px;
      line-height: 1.13;
    }
  }
  &__text--crimson {
    font-size: 34px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    color: var(--accent-color);

    @media screen and (min-width: 768px) {
      font-size: 48px;
      line-height: 1.14;
      letter-spacing: 0.06em;
    }

    @media screen and (min-width: 1200px) {
      font-size: 58px;
    }
  }
  &__social-list {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 46px;
  }

  &__social-item:not(:last-child) {
    margin-right: 28px;
  }

  &__social-link {
    display: block;
    padding: 6px;
    border-radius: 50%;
    background-color: var(--secondary-title-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
      padding: 7px;
    }

    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }

  &__social-icon {
    display: block;
  }
  &__tel-number {
    text-align: right;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;
    color: var(--black-text-color);

    @media screen and (min-width: 768px) {
      font-size: 14px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 16px;
      letter-spacing: 0.02em;
    }
  }
  &__tel-link {
    color: var(--accent-color);
  }
  &__copyright {
    padding-top: 22px;
    padding-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;

    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    color: var(--grey-text-color);
    border-top: 1px solid #e1e1e1;

    @media screen and (min-width: 768px) {
      padding-top: 29px;
      padding-bottom: 18px;
      width: 100%;
    }

    @media screen and (min-width: 1200px) {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}
